:root {
  --toggle-bg-off: #888;
  --toggle-bg-on: #86d993;
  --toggle-fg-off: #fff;
  --toggle-fg-on: #fff;

  --popup-bg: rgb(216, 216, 216);

  --color-primary: #001d3d;
  --color-secondary: #003566;
  --color-accent: #fca311;
  --color-background: #ecf0f1;
  --color-foreground: var(--color-primary);
}

body {
  font-family: sans-serif;
  background: var(--color-background);
  padding: 1em;
  width: 20em;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;

  color: var(--color-foreground);
}

h1,
h2 {
  margin: 0;
}

.option {
  width: 100%;
}

.option-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--color-accent);
  margin: 0.5em 0;
}

h3,
#dimming-level-container label {
  display: block;
  font-size: large;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#dimming-level-container {
  display: block;
}

#dimming-level {
  width: 100%;
}

#dimming-level-container .input-container {
  display: flex;
  align-items: center;
}

#dimming-level-container .input-container input {
  accent-color: var(--toggle-bg-on);
}

#dimming-level-container .input-container span {
  padding: 0.5em 1em;
  background-color: var(--toggle-bg-off);
  color: var(--toggle-fg-off);
}

#dimming-value {
  width: 4em;
  text-align: center;
}
